<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string></string>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>Icon@2x.png</string>
		<string>icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
				<string>Default.png</string>
				<string>Default@2x.png</string>
				<string>Icon@2x.png</string>
				<string>icon.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>qqq.vitalyt.demo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>FeedbackMailAddress</key>
	<string>vitaly.todorovych@yandex.ru</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LessonResouce</key>
	<string>/Documents/Lessons/</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>TestTeamToken</key>
	<string>8c5fde62f2d9d0623e6dab1f50fd0e94_NDQwMTYyMDExLTExLTI5IDA0OjMxOjAxLjE0NzgwNA</string>
	<key>TranslateAppId</key>
	<string>519419FC66883A8820ED0F76C5AC4B9E70F63425</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>dataBaseName</key>
	<string>iTeachWordDataBase</string>
	<key>myResource</key>
	<string>/Documents/</string>
</dict>
</plist>
